.cartBlock{
  display: flex;
  align-items: center;
  position: relative;
}

.cartBlock-price{
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
}

.cartBlock-icon{
  cursor: pointer;
  position: relative;
}